@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sofia&display=swap');

/*================================================================ Html ================================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

/*================================================================ Scrool ===============================================================*/

::-webkit-scrollbar {
    width: 12px; 
  }

::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: lightblue; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(67, 0, 252); 
}

/*================================================================ Body ================================================================*/

body{
    height: auto;
    overflow-x: hidden;
    background-color: black;
    font-style: italic;
}


.Education_Container,.contact_container{
    padding: 50px;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    text-align: center;
    display: block;
    z-index: 10;
    max-width: 95%;
    margin:  0 auto;
}

#frontbg {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -1;
  }

/*================================================================ Title ================================================================*/

.Title_text{
    font-size: x-large;
    margin-top: 10px;
    color:lightblue;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-bottom:50px;
}

.cog{
    height: 40px;
    width: auto;
}

hr{
    border: 0; 
    height: 1px;
    width: 10%;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
}

/*=============================================================== Education ===============================================================*/

.timecontainer li{
    background-image: linear-gradient(rgb(100, 102, 223),rgb(1, 26, 74));
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    margin-bottom: 50px;
}

.heading{
    color: white;
    font-size: larger;
    margin-bottom: 10px;
}

p{
    font-weight: bolder;
    justify-self: left;
}

strong{
    color: white;
}

.timecontainer ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    list-style: none; 
    padding: 0;
    justify-self: center;
}

li div div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: center;
}


li div div a b, .join{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

li div div a b:hover, .join:hover{
    color: black;
    background-color: white;
    transition: 0.5 ease;
}

li {
    display: flex;
    flex-direction: column;
}

li img{
    height: 400px;
    width: auto;
    align-self: center;
    border-radius: 10px;
}

.joinqr{
    height: 300px;
    width: auto;
    align-self: center;
    border-radius: 10px;
}

img{
    cursor: pointer;
}

/*=============================================================== Contact ==========================================================*/



.logos{
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0;
    width: 100%;
}

.logos li{
    padding-left: 10px;
    padding-right: 10px;
}

.logos li a i{
    width:30px;
    transition: ease;
    color: white;
    font-size: x-large;
}

.logos .lin i:hover,.logos .ins i:hover, .logos .git i:hover{
    width:30px;
    transition: ease;
    color: rgb(76, 159, 247);
  }

.cog_Name_2{
    font-size: large;
    color: white;
    margin-top: 2px;
    animation: nametransition 3s ease-in-out infinite;
}

.cog_email{
    font-size: large;
    color: white;
    position: absolute;
    right: 10px;
}

@keyframes nametransition {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    20% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    50% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
    }
    80% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
}

/*=============================================================== Audio ==========================================================*/
  
  .fa-volume-high:hover{
  color: blue;
  }
  
  .fa-volume-xmark:hover{
  color: red;
  }

  .fas {
    font-size: 20px;
    position: absolute;
    color: black;
 }

  .playButton_1{
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rot_anime{
    animation: rot 3s linear infinite;
  }

  @keyframes rot {
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
  }